.title-bar {
  width: 100%;
  height: auto;
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 700;

  @at-root #{&}--on-card {
    width: 100%;
    height: auto;
    padding: 3px 0;
    margin-bottom: 7px;
    font-size: 22px;
    font-weight: 700;
    background-color: transparent!important;
  }

  @at-root #{&}--on-surface {
    width: 100%;
    height: auto;
    padding: 0 5px;
    margin-bottom: 7px;
    font-size: 22px;
    font-weight: 700;
    background-color: transparent!important;
  }
}

.card {
    position: relative;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px !important;

    .card__info {
        width: 100%;
        margin-top: 0 !important;
        background-color: var(--secondary);
        color: var(--on-secondary);
        padding: 7px;
        border-radius: 0 0 5px 5px;

        h3 {
            font-size: 18px;
        }

        p {
            font-size: 14px;
        }

        .show__name {
            display: inline-block;
        }

        .show__date {
            font-weight: 400;
            font-size: 12px;
            display: inline-block;
        }
    }

    .card__img {
        height: 170px;
        overflow-y: hidden;
        margin-bottom: 0!important;

        img {
            border-radius: 5px 5px 0 0 ;
            margin-bottom: 0!important;
            width: 100%;
            height: auto;
            object-fit: fill!important;
        }
    }

    .card__img--overlay {
        position: relative;
        height: calc(100% - 5.2em);

        .card__author {
            font-style: italic;
            font-size: 14px;
        }

        .card__img__info--hover {
            position: absolute;
            display: block;
            bottom: 2%;
            padding: 1rem;
            width: 100%;
            height: calc(100% - 2%);
            border-radius: 0.8rem;
            transform-origin: bottom;
            transition: opacity 0.3s ease;
            color: var(--on-primary);

            @media (max-width: 370px) {

                h3 {
                    font-size: 16px;
                    transition: all 0.3s ease-in-out;
                }
                p {
                    font-size: 12px;
                    transition: all 0.3s ease-in-out;
                }

            }

            .card__status {
                padding-left: 7px;
                &.ongoing {
                    border-left: 3px solid var(--success) !important;
                }
                &.on-break {
                    border-left: 3px solid var(--warning) !important;
                }
                &.complete {
                    border-left: 3px solid var(--error) !important;
                }
            }
        }

        .card__tag__container {
            display: flex;
            flex-flow: row wrap;
            gap: 5px;
            justify-content: flex-start;
            margin-top: 7px;

            .card__tag {
                border: 1px solid var(--secondary);
                padding: 2px 6px;
                border-radius: 5px;
                margin: 0;
                font-size: 13px;
                transition: all 0.3s ease;
                color: var(--on-primary);
                @media (max-width: 370px) {
                    font-size: 10px;
                }
            }
        }
    }
}

.card--x {
  padding: 0 !important;
  margin: 0 !important;
  height: 100px;
  font-size: 13px;
  border-radius: 5px;
  display: flex;

  @media (min-width: 850px) {
    height: 120px;
  }

  .card--x__container {
    width: 100%;
    padding: 5px 10px;
    /*max-width: 32ch;*/
    overflow: hidden !important;
    position: relative;
    word-break: break-word;
    border-radius: 0 5px 5px 0;

    .card--x__wrap--text {
      margin-bottom: 7px;

      .card--x__text {
        position: relative;
      }
    }

    @media (min-width: 850px) {
      padding: 10px;
    }

    a {
      width: 12px;
      height: 12px;
    }

    h2 {
      font-size: 18px;

      @media (min-width: 850px) {
        font-size: 24px;
      }
    }

    .card--x__socials--wrap {
      display: block;
      width: 100%;
      max-width: 200px;

      a {
        margin: 0 7px 0 0;

        i {
          font-size: 24px;
        }
      }
    }
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 5px 0 0 5px;

    @media (min-width: 850px) {
      width: 120px;
      height: 120px;
    }
  }
}
