@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap);
:root {
  --sc-theme--primary-light: #454545;
  --sc-theme--primary: #343434;
  --sc-theme--primary-dark: #232323;
  --sc-theme--secondary-light: #ffc852;
  --sc-theme--secondary: #ffae00;
  --sc-theme--secondary-dark: #875c00;
  --sc-theme--on-primary: #fff;
  --sc-theme--on-secondary: #000;
  --sc-theme--error: #b00020;
  --sc-theme--warning: #ffa000;
  --sc-theme--success: #25a53f;
  --sc-theme--on-error: #ffffff;
  --sc-theme--on-warning: #000000;
  --sc-theme--on-success: #ffffff;
  --sc-theme--small-radius: 0.3rem;
  --sc-theme--medium-radius: 0.5rem;
  --sc-theme--large-radius: 0.7rem;
  /* ===== */
  --sc-theme--input: #c4c4c4;
  --sc-theme--on-input: #000;
}

*:not(code) {
  font-family: var(--global-family, Open Sans, sans-serif);
  font-weight: var(--global-weight, 400);
  color: inherit;
}
*:not(code)::before, *:not(code)::after {
  font-family: var(--global-family, Open Sans, sans-serif);
  font-weight: var(--global-weight, 400);
  color: inherit;
}

a {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3 {
  font-family: var(--sc-title-family, Open Sans, sans-serif);
  font-weight: var(--sc-title-weight, 700);
}

h4,
h5,
h6 {
  font-family: var(--sc-subtitle-family, Open Sans, sans-serif);
  font-weight: var(--sc-subtitle-weight, 400);
}

p {
  font-family: var(--sc-body-family, Open Sans, sans-serif);
  font-weight: var(--sc-body-weight, 400);
}

b {
  font-weight: 700;
  color: inherit;
}

code,
.code {
  font-family: "Source Code Pro", monospace;
}

html {
  font-size: 100%;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
}
*::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100% !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--sc-theme--primary-dark);
  color: var(--sc-theme--on-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

.dashboard-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.2rem;
}
@media (min-width: 540px) {
  .dashboard-grid {
    grid-template-columns: 300px 1fr;
  }
}

.wrap--content {
  width: calc(100% - 30px);
  max-width: 1077px;
  margin: 0 auto;
  padding: 57px 0 65px 0;
}

.sc-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  height: auto;
  box-sizing: border-box;
  transition: all 0.1s ease;
  color: var(--sc-header-ink, var(--sc-theme--on-primary));
  border: 1px solid var(--sc-header-fill, var(--sc-theme--primary));
  background: var(--sc-header-fill, var(--sc-theme--primary));
  border-radius: var(--sc-header-radius, 0);
  font-size: var(--sc-header-text-size, 1.625rem);
  -ms-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
}
.sc-header * {
  box-sizing: border-box;
}
.sc-header .sc-header__wrap {
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  position: relative;
  font-size: inherit;
  padding: 0.3rem 0;
}
@media (min-width: 540px) {
  .sc-header .sc-header__wrap {
    width: calc(100% - 34px);
    margin: 0 auto;
  }
}
@media (max-width: 539px) {
  .sc-header .sc-header__wrap {
    padding: 0.3rem 0;
  }
}
.sc-header .sc-header__wrap .sc-header__text {
  padding: 0.3rem 0.7rem;
  font-size: inherit;
  transition: all 0.1s ease;
}
.sc-header .sc-header__wrap .sc-header__text > * {
  color: inherit;
}
.sc-header .sc-header__wrap .sc-header__text h1,
.sc-header .sc-header__wrap .sc-header__text h2,
.sc-header .sc-header__wrap .sc-header__text h3 {
  font-size: inherit;
}
@media (min-width: 540px) {
  .sc-header .sc-header__wrap .sc-header__text {
    padding: 0.3rem 0.7rem 0.3rem 0;
  }
}
.sc-header .sc-header__wrap .sc-header__text.invisible {
  display: none;
}

.sc-appbar {
  width: 100%;
  position: fixed;
  padding: 0.5rem 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
  color: var(--sc-appbar-ink, var(--sc-theme--on-primary));
  border: 1px solid var(--sc-appbar-fill, var(--sc-theme--primary));
  background: var(--sc-appbar-fill, var(--sc-theme--primary));
  border-radius: var(--sc-appbar-radius, 0);
  font-size: var(--sc-appbar-text-size, 0.75rem);
  -ms-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
}
@media (min-width: 540px) {
  .sc-appbar {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    bottom: inherit;
    position: relative;
    padding: 0.3rem 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
.sc-appbar * {
  box-sizing: border-box;
}
.sc-appbar .sc-appbar__container {
  display: grid;
  grid-column: 1/-1;
  padding: 0.3rem 0;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  grid-gap: 0.5rem;
  text-align: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
@media (min-width: 540px) {
  .sc-appbar .sc-appbar__container {
    width: 100px;
    padding: 0;
    text-align: right;
  }
}
.sc-appbar .sc-appbar__container .sc-appbar__item {
  height: 24px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: var(--sc-appbar-item-ink, inherit) !important;
}
.sc-appbar .sc-appbar__container .sc-appbar__item > a, .sc-appbar .sc-appbar__container .sc-appbar__item > p {
  display: block;
  color: inherit;
}
.sc-appbar .sc-appbar__container .sc-appbar__item > a:hover, .sc-appbar .sc-appbar__container .sc-appbar__item > p:hover {
  filter: brightness(70%);
}
.sc-appbar .sc-appbar__container .sc-appbar__item.active {
  color: var(--sc-appbar-item-ink--active, var(--sc-theme--secondary)) !important;
}
.sc-appbar .sc-appbar__container .sc-appbar__item .sc-appbar__item__icon {
  font-size: var(--sc-appbar-item-icon-size, 1.5rem);
  color: inherit;
  transition: all 0.1s ease;
}
@media (min-width: 540px) {
  .sc-appbar .sc-appbar__container .sc-appbar__item .sc-appbar__item__icon {
    margin-top: 4px;
  }
}
.sc-appbar .sc-appbar__container .sc-appbar__item .sc-appbar__item__label {
  font-size: var(--sc-appbar-item-text-size, 0.75rem) !important;
  color: inherit !important;
}
@media (min-width: 540px) {
  .sc-appbar .sc-appbar__container .sc-appbar__item .sc-appbar__item__label {
    display: none !important;
  }
}
.sc-appbar .sc-appbar__container .sc-appbar__item[data-tooltip] {
  position: relative;
  box-sizing: border-box;
}
.sc-appbar .sc-appbar__container .sc-appbar__item[data-tooltip]::after {
  content: attr(data-tooltip);
  display: block;
  position: absolute;
  padding: 0.5rem 0.6rem;
  font-size: 0.75rem;
  bottom: calc(-100% - 15px);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
  color: var(--sc-tooltip-ink, #ffffff);
  border: 1px solid var(--sc-tooltip-fill, #232323);
  background: var(--sc-tooltip-fill, #232323);
  border-radius: var(--sc-tooltip-radius, var(--sc-theme--small-radius));
  -ms-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
}
@media (max-width: 540px) {
  .sc-appbar .sc-appbar__container .sc-appbar__item[data-tooltip]::after {
    display: none !important;
    opacity: 0 !important;
  }
}
.sc-appbar .sc-appbar__container .sc-appbar__item[data-tooltip]:hover::after {
  opacity: 1;
}

.sc-button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 57px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.6rem;
  line-height: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: visible;
  vertical-align: middle;
  box-sizing: border-box;
  transition: all 0.1s linear;
  color: var(--sc-button-fill, var(--sc-theme--secondary));
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: none;
  background: rgba(0, 0, 0, 0);
  border-radius: var(--sc-button-radius, var(--sc-button-radius, var(--sc-theme--small-radius)));
  font-size: var(--sc-button-text-size, 0.875rem);
  font-weight: var(--sc-button-text-weight, 700);
  -webkit-text-decoration: var(--sc-button-text-decoration, inherit);
          text-decoration: var(--sc-button-text-decoration, inherit);
  text-transform: var(--sc-button-text-transform, inherit);
}
.sc-button:hover {
  color: var(--sc-button-fill--hover, var(--sc-theme--secondary));
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: none;
  background: rgba(175, 175, 175, 0.15);
  cursor: pointer;
}
.sc-button:focus {
  color: var(--sc-button-fill--focus, var(--sc-theme--secondary));
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: none;
  background: rgba(175, 175, 175, 0.15);
  border: 1px solid rgba(175, 175, 175, 0.66);
}
.sc-button:active {
  color: var(--sc-button-fill--active, var(--sc-theme--secondary-light));
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: none;
  background: rgba(175, 175, 175, 0.15);
  border: 1px solid rgba(175, 175, 175, 0.66);
}
.sc-button:disabled {
  color: var(--sc-button-fill--disabled, var(--sc-theme--secondary-dark));
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: none;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  pointer-events: none;
}
.sc-button.sc-button--outlined {
  color: var(--sc-button-fill, var(--sc-theme--secondary));
  background: rgba(0, 0, 0, 0);
  border: 1px solid var(--sc-button-fill, var(--sc-theme--secondary));
  box-shadow: none;
}
.sc-button.sc-button--outlined:hover {
  color: var(--sc-button-ink--hover, var(--sc-theme--on-secondary));
  background: var(--sc-button-fill--hover, var(--sc-theme--secondary));
  border: 1px solid var(--sc-button-fill--hover, var(--sc-theme--secondary));
  box-shadow: none;
  cursor: pointer;
}
.sc-button.sc-button--outlined:focus {
  color: var(--sc-button-ink--focus, var(--sc-theme--on-secondary));
  background: var(--sc-button-fill--focus, var(--sc-theme--secondary));
  border: 1px solid var(--sc-button-fill--focus, var(--sc-theme--secondary));
  box-shadow: none;
  outline: 2px solid rgba(175, 175, 175, 0.66);
}
.sc-button.sc-button--outlined:active {
  color: var(--sc-button-ink--active, var(--sc-theme--on-secondary));
  background: var(--sc-button-fill--active, var(--sc-theme--secondary-light));
  border: 1px solid var(--sc-button-fill--active, var(--sc-theme--secondary-light));
  box-shadow: none;
}
.sc-button.sc-button--outlined:disabled {
  color: var(--sc-button-fill--disabled, var(--sc-theme--secondary-dark));
  background: rgba(0, 0, 0, 0);
  border: 1px solid var(--sc-button-fill--disabled, var(--sc-theme--secondary-dark));
  box-shadow: none;
  cursor: pointer;
  pointer-events: none;
}
.sc-button.sc-button--filled {
  color: var(--sc-button-ink, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill, var(--sc-theme--secondary));
  background: var(--sc-button-fill, var(--sc-theme--secondary));
  box-shadow: none;
}
.sc-button.sc-button--filled:hover {
  color: var(--sc-button-ink--hover, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--hover, var(--sc-theme--secondary));
  background: var(--sc-button-fill--hover, var(--sc-theme--secondary));
  cursor: pointer;
}
.sc-button.sc-button--filled:focus {
  color: var(--sc-button-ink--focus, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--focus, var(--sc-theme--secondary));
  background: var(--sc-button-fill--focus, var(--sc-theme--secondary));
  outline: 2px solid rgba(175, 175, 175, 0.66);
}
.sc-button.sc-button--filled:active {
  color: var(--sc-button-ink--active, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--active, var(--sc-theme--secondary-light));
  background: var(--sc-button-fill--active, var(--sc-theme--secondary-light));
}
.sc-button.sc-button--filled:disabled {
  color: var(--sc-button-ink--disabled, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--disabled, var(--sc-theme--secondary-dark));
  background: var(--sc-button-fill--disabled, var(--sc-theme--secondary-dark));
  box-shadow: none;
  cursor: pointer;
  pointer-events: none;
}
.sc-button.sc-button--filled {
  color: var(--sc-button-ink, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill, var(--sc-theme--secondary));
  background: var(--sc-button-fill, var(--sc-theme--secondary));
  box-shadow: none;
}
.sc-button.sc-button--filled:hover {
  color: var(--sc-button-ink--hover, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--hover, var(--sc-theme--secondary));
  background: var(--sc-button-fill--hover, var(--sc-theme--secondary));
  cursor: pointer;
}
.sc-button.sc-button--filled:focus {
  color: var(--sc-button-ink--focus, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--focus, var(--sc-theme--secondary));
  background: var(--sc-button-fill--focus, var(--sc-theme--secondary));
  outline: 2px solid rgba(175, 175, 175, 0.66);
}
.sc-button.sc-button--filled:active {
  color: var(--sc-button-ink--active, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--active, var(--sc-theme--secondary-light));
  background: var(--sc-button-fill--active, var(--sc-theme--secondary-light));
}
.sc-button.sc-button--filled:disabled {
  color: var(--sc-button-ink--disabled, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--disabled, var(--sc-theme--secondary-dark));
  background: var(--sc-button-fill--disabled, var(--sc-theme--secondary-dark));
  box-shadow: none;
  cursor: pointer;
  pointer-events: none;
}
.sc-button.sc-button--filled--raised {
  color: var(--sc-button-ink, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill, var(--sc-theme--secondary));
  background: var(--sc-button-fill, var(--sc-theme--secondary));
  -ms-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
}
.sc-button.sc-button--filled--raised:hover {
  color: var(--sc-button-ink--hover, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--hover, var(--sc-theme--secondary));
  background: var(--sc-button-fill--hover, var(--sc-theme--secondary));
  -ms-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.275), 0px 4px 5px 0px rgba(0, 0, 0, 0.215), 0px 1px 10px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.275), 0px 4px 5px 0px rgba(0, 0, 0, 0.215), 0px 1px 10px 0px rgba(0, 0, 0, 0.195);
  cursor: pointer;
}
.sc-button.sc-button--filled--raised:focus {
  color: var(--sc-button-ink--focus, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--focus, var(--sc-theme--secondary));
  background: var(--sc-button-fill--focus, var(--sc-theme--secondary));
  outline: 2px solid rgba(175, 175, 175, 0.66);
  -ms-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.275), 0px 4px 5px 0px rgba(0, 0, 0, 0.215), 0px 1px 10px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.275), 0px 4px 5px 0px rgba(0, 0, 0, 0.215), 0px 1px 10px 0px rgba(0, 0, 0, 0.195);
}
.sc-button.sc-button--filled--raised:active {
  color: var(--sc-button-ink--active, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--active, var(--sc-theme--secondary-light));
  background: var(--sc-button-fill--active, var(--sc-theme--secondary-light));
  -ms-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 6px 10px 0px rgba(0, 0, 0, 0.215), 0px 1px 18px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 6px 10px 0px rgba(0, 0, 0, 0.215), 0px 1px 18px 0px rgba(0, 0, 0, 0.195);
}
.sc-button.sc-button--filled--raised:disabled {
  color: var(--sc-button-ink--disabled, var(--sc-theme--on-secondary));
  border: 1px solid var(--sc-button-fill--disabled, var(--sc-theme--secondary-dark));
  background: var(--sc-button-fill--disabled, var(--sc-theme--secondary-dark));
  -ms-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.275), 0px 2px 2px 0px rgba(0, 0, 0, 0.215), 0px 1px 5px 0px rgba(0, 0, 0, 0.195);
  cursor: pointer;
  pointer-events: none;
}
.sc-button[data-tooltip] {
  position: relative;
  box-sizing: border-box;
}
.sc-button[data-tooltip]::after {
  content: attr(data-tooltip);
  display: block;
  position: absolute;
  padding: 0.5rem 0.6rem;
  font-size: 0.75rem;
  bottom: 100%;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
  color: var(--sc-tooltip-ink, #ffffff);
  border: 1px solid var(--sc-tooltip-fill, #232323);
  background: var(--sc-tooltip-fill, #232323);
  border-radius: var(--sc-tooltip-radius, var(--sc-theme--small-radius));
  -ms-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
}
@media (max-width: 540px) {
  .sc-button[data-tooltip]::after {
    display: none !important;
    opacity: 0 !important;
  }
}
.sc-button[data-tooltip]:hover::after {
  opacity: 1;
}
.sc-button > * + * {
  margin-left: var(--sc-button-gap, 3px);
}
.sc-button * {
  box-sizing: border-box;
}
.sc-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.sc-button.sc-button--icon-only, .sc-button.sc-button--icon-only:focus {
  outline: none !important;
  border: none transparent !important;
}
.sc-button .sc-button__label {
  font-weight: inherit;
  font-size: inherit;
  text-align: left;
  color: inherit;
}
.sc-button .sc-button__icon {
  font-size: var(--sc-button-icon-size, 1.25rem);
  position: relative;
  color: var(--sc-button-icon-ink, inherit);
  /* @fallback */
  width: var(--sc-button-icon-size, 1.25rem);
  height: var(--sc-button-icon-size, 1.25rem);
}

.sc-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  margin: 0;
  border: none !important;
  box-sizing: border-box;
  transition: all 0.1s linear;
  color: var(--sc-card-ink, var(--sc-theme--on-primary));
  border: 1px solid var(--sc-card-fill, var(--sc-theme--primary-light));
  background: var(--sc-card-fill, var(--sc-theme--primary-light));
  border-radius: var(--sc-card-radius, var(--sc-theme--small-radius));
  -ms-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.275), 0px 3px 4px 0px rgba(0, 0, 0, 0.215), 0px 1px 8px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.275), 0px 3px 4px 0px rgba(0, 0, 0, 0.215), 0px 1px 8px 0px rgba(0, 0, 0, 0.195);
}
.sc-card * {
  box-sizing: border-box;
}
.sc-card .sc-card__media {
  width: 100%;
  height: 140px !important;
  overflow-y: hidden;
}
.sc-card .sc-card__media img {
  width: 100%;
  height: auto !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.sc-card .sc-card__content {
  padding: 0.8rem;
  color: inherit;
  overflow: hidden;
}
.sc-card .sc-card__content .sc-card__title {
  display: flex;
  align-items: center;
}
.sc-card .sc-card__content .sc-card__title h1,
.sc-card .sc-card__content .sc-card__title h2,
.sc-card .sc-card__content .sc-card__title h3 {
  color: inherit;
  font-size: var(--sc-card-title-text-size, 1.25rem);
  line-height: 1.75rem;
}
.sc-card .sc-card__content .sc-card__title .sc-card__title__icon {
  font-size: 1.375rem;
  margin-bottom: 0.175rem;
  margin-right: 0.3rem;
  color: var(--sc-card-title-icon-ink, var(--sc-theme--secondary));
}
.sc-card .sc-card__content .sc-card__subtitle {
  font-size: var(--sc-card-subtitle-text-size, 0.8125rem);
  color: inherit;
  word-break: break-word;
  overflow: hidden;
  text-align: left;
  line-height: 1.125rem;
}
.sc-card .sc-card__content .sc-card__actions {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-top: 0.7rem;
  top: 0.3rem;
  left: 0.3rem;
}
.sc-card .sc-card__content .sc-card__actions > * + * {
  margin-left: 0.5rem;
}
.sc-card .sc-card__content .sc-card__actions a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.sc-card .sc-card__content .sc-card__actions a .sc-card__action {
  min-width: 24px;
  padding: 0.3rem 0.5rem;
}
.sc-card .sc-card__content .sc-card__actions a .sc-card__action.sc-button--outlined.sc-button--icon, .sc-card .sc-card__content .sc-card__actions a .sc-card__action.sc-button--filled.sc-button--icon {
  padding: 0.5rem;
  border-radius: 50%;
}

.sc-text-field {
  position: relative;
  margin: 0;
  cursor: text;
  width: 100%;
  box-sizing: border-box;
}
.sc-text-field * {
  box-sizing: border-box;
}
.sc-text-field .sc-text-field__label {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 14px;
  padding: 0 0.7rem;
  position: absolute;
  top: 0.975rem;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--sc-text-field-ink, #232323);
  cursor: text;
  transition: all 70ms ease;
}
.sc-text-field .sc-text-field__input {
  width: 100%;
  transition: all 0.1s ease;
  border-width: 2px !important;
  padding: 1.4rem 0.5rem 0.3rem 0.5rem;
  font-size: var(--sc-text-field-text-size, 0.9375rem);
  resize: none;
  border-bottom: 2px solid var(--sc-text-field-border-fill, var(--sc-theme--primary-light)) !important;
  color: var(--sc-text-field-ink, #000000);
  border: 1px solid var(--sc-text-field-fill, #cecece);
  background: var(--sc-text-field-fill, #cecece);
  border-radius: var(--sc-text-field-radius, var(--sc-theme--small-radius));
  font-size: var(--sc-text-field-text-size, 0.875rem);
}
.sc-text-field .sc-text-field__input:hover {
  cursor: text;
}
.sc-text-field .sc-text-field__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0) !important;
  -moz-user-select: none !important;
       user-select: none !important;
}
.sc-text-field .sc-text-field__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0) !important;
  -ms-user-select: none !important;
      user-select: none !important;
}
.sc-text-field .sc-text-field__input::placeholder {
  color: rgba(0, 0, 0, 0) !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}
.sc-text-field .sc-text-field__input:focus {
  outline: none;
  border-color: var(--sc-text-field-border-fill, var(--sc-theme--primary-light)) !important;
}
.sc-text-field .sc-text-field__input:not(:-moz-placeholder-shown) {
  padding: 1.4rem 0.6rem 0.3rem 0.6rem;
}
.sc-text-field .sc-text-field__input:not(:-ms-input-placeholder) {
  padding: 1.4rem 0.6rem 0.3rem 0.6rem;
}
.sc-text-field .sc-text-field__input:focus-within, .sc-text-field .sc-text-field__input:not(:placeholder-shown) {
  padding: 1.4rem 0.6rem 0.3rem 0.6rem;
}
.sc-text-field .sc-text-field__input:not(:-moz-placeholder-shown) + .sc-text-field__label {
  width: auto;
  margin: 0 0 0 0.3rem;
  padding: 0 0.4rem;
  top: 0.4rem;
  font-size: 0.6875rem;
  pointer-events: none;
}
.sc-text-field .sc-text-field__input:not(:-ms-input-placeholder) + .sc-text-field__label {
  width: auto;
  margin: 0 0 0 0.3rem;
  padding: 0 0.4rem;
  top: 0.4rem;
  font-size: 0.6875rem;
  pointer-events: none;
}
.sc-text-field .sc-text-field__input:focus-within + .sc-text-field__label, .sc-text-field .sc-text-field__input:not(:placeholder-shown) + .sc-text-field__label {
  width: auto;
  margin: 0 0 0 0.3rem;
  padding: 0 0.4rem;
  top: 0.4rem;
  font-size: 0.6875rem;
  pointer-events: none;
}
.sc-text-field .sc-text-field__helper {
  color: var(--sc-text-field-helper-ink, var(--sc-theme--on-surface));
  font-size: var(--sc-text-field-helper-size, 0.75rem);
  margin-top: 7px;
}
.sc-text-field.sc-text-field--error {
  transition: all 0.1s ease;
}
.sc-text-field.sc-text-field--error > * {
  border-bottom: 2px solid var(--sc-theme--error) !important;
  color: var(--sc-theme--error);
}
.sc-text-field.sc-text-field--error > *:focus {
  border-color: var(--sc-theme--error) !important;
}
.sc-text-field.sc-text-field--error > .sc-text-field__label {
  --sc-theme--placeholder: #e2e2e2 !important;
  border-bottom: none !important;
}
.sc-text-field.sc-text-field--error > .sc-text-field__helper {
  color: var(--sc-theme--error);
  border-bottom: none !important;
}

.sc-text-field {
  width: 100%;
  max-width: none;
  min-width: 0;
  margin-bottom: 0.7rem;
}
.sc-text-field .sc-text-field__input {
  border-bottom-color: var(--sc-theme--input) !important;
}
.sc-text-field .sc-text-field__input:focus-within, .sc-text-field .sc-text-field__input:focus {
  border: 2px solid var(--sc-theme--primary) !important;
}

.user-profile {
  padding: 0.7rem 1rem;
  margin-bottom: 0.7rem;
  color: var(--sc-user-profile-ink, var(--sc-theme--on-primary));
  border: 1px solid var(--sc-user-profile-fill, var(--sc-theme--primary-light));
  background: var(--sc-user-profile-fill, var(--sc-theme--primary-light));
  box-shadow: none;
  border-radius: var(--sc-user-profile-radius, 0.5rem);
  -ms-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.275), 0px 3px 4px 0px rgba(0, 0, 0, 0.215), 0px 1px 8px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.275), 0px 3px 4px 0px rgba(0, 0, 0, 0.215), 0px 1px 8px 0px rgba(0, 0, 0, 0.195);
}
.user-profile .user-profile__img {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.user-profile .user-profile__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-profile .user-profile__info {
  margin-top: 7px;
}
.user-profile .user-profile__info p {
  margin-top: 7px;
}
.user-profile .user-profile__actions {
  margin-top: 0.7rem;
}
.user-profile .user-profile__actions .sc-button {
  width: 100%;
}

.user-edit {
  padding: 1rem;
  margin-bottom: 1rem;
  color: var(--sc-user-edit-ink, var(--sc-theme--on-primary));
  border: 1px solid var(--sc-user-edit-fill, var(--sc-theme--primary-light));
  background: var(--sc-user-edit-fill, var(--sc-theme--primary-light));
  box-shadow: none;
  border-radius: var(--sc-user-edit-radius, 0.5rem);
  -ms-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.275), 0px 3px 4px 0px rgba(0, 0, 0, 0.215), 0px 1px 8px 0px rgba(0, 0, 0, 0.195);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.275), 0px 3px 4px 0px rgba(0, 0, 0, 0.215), 0px 1px 8px 0px rgba(0, 0, 0, 0.195);
}

.title-bar {
  padding: 0.7rem 0;
  font-size: 1.125rem;
}
