@use '../../node_modules/@growstocks/stack/Core/Theme';
@use '../../node_modules/@growstocks/stack/Core/Typography';
@use '../../node_modules/@growstocks/stack/Core/Elevation';
@use '../../node_modules/@growstocks/stack/Core/Color';
@use '../../node_modules/@growstocks/stack/Core/Shape';

@use '../../node_modules/@growstocks/stack/Components/SCAppbar';
@use '../../node_modules/@growstocks/stack/Components/SCButton';
@use '../../node_modules/@growstocks/stack/Components/SCCard';
@use '../../node_modules/@growstocks/stack/Components/SCHeader';
@use '../../node_modules/@growstocks/stack/Components/SCProfile';
@use '../../node_modules/@growstocks/stack/Components/SCTextField';


:root {
    @include Theme.config(
        #343434,
        #ffae00,
        $input: #c4c4c4,
        $on-input: #000
    );
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    color: inherit;

    &::before,
    &::after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
        color: inherit;
    }
}

html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100% !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--sc-theme--primary-dark);
    color: var(--sc-theme--on-primary);
}

a {
    text-decoration: none;
    color: inherit;
}

.dashboard-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.2rem;

    @media (min-width: Theme.get-breakpoint('medium')) {
        grid-template-columns: 300px 1fr;
    }
}

.wrap--content {
    width: calc(100% - 30px);
    max-width: 1077px;
    margin: 0 auto;
    padding: 57px 0 65px 0;
}

@include SCHeader.render();
@include SCAppbar.render($nav-contents: 2);
@include SCButton.render();
@include SCCard.render();
@include SCTextField.render();
.sc-text-field {
    width: 100%;
    max-width: none;
    min-width: 0;
    margin-bottom: 0.7rem;

    .sc-text-field__input {
        border-bottom-color: var(--sc-theme--input) !important;

        &:focus-within,
        &:focus {
            border: 2px solid var(--sc-theme--primary) !important;
        }
    }
}

.user-profile {
    padding: 0.7rem 1rem;
    margin-bottom: 0.7rem;

    @include Color.apply('filled', (
        'default': (var(--sc-theme--primary-light), var(--sc-theme--on-primary))
    ));

    @include Shape.apply((
        'shape': rounded,
        'radius': 0.5rem,
    ));

    @include Elevation.apply(3);

    .user-profile__img {
        width: 100%;
        height: auto;
        overflow: hidden;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .user-profile__info {
        margin-top: 7px;

        p {
            margin-top: 7px;
        }
    }

    .user-profile__actions {
        margin-top: 0.7rem;
        .sc-button {
            width: 100%;
        }
    }
}

.user-edit {
    padding: 1rem;
    margin-bottom: 1rem;

    @include Color.apply('filled', (
        'default': (var(--sc-theme--primary-light), var(--sc-theme--on-primary))
    ));

    @include Shape.apply((
        'shape': rounded,
        'radius': 0.5rem,
    ));

    @include Elevation.apply(3);
}

.title-bar {
    padding: 0.7rem 0;
    font-size: Typography.px-to-rem(18px);
}
