$default: (
    'default': (#636363, #fff)
);

$default-shape: (
    'shape': rounded,
    'radius': 0.5rem
);

$youtube: (
    'default': (#FF0000, #fff),
    'elevation': #000
);

$facebook: (
    'default': (#1778f2, #fff),
    'elevation': #000
);

$soundcloud: (
    'default': (#ff6c00, #fff),
    'elevation': #000
);
