$default: (
    'default': (#727272, #fff)
);

$youtube: (
    'default': (#FF0000, #fff),
    'elevation': #000
);

$facebook: (
    'default': (#1778f2, #fff),
    'elevation': #000
);

$soundcloud: (
    'default': (#ff6c00, #fff),
    'elevation': #000
);
